<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flappy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
    <script src="../static/modalF.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>



    <script src="../static/ml5.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>




<body class="light-blue darken-1">


    


    <div class="row">
        <div class="col s12 m12 l12 center">
            <h1 class="white-text">Eat Fast Multiplayer</h1>
        </div>
    </div>

    <div class="row formulario_ingreso" >
        <div class="col s8 m6 14 offset-s2 offset-m3 offset-14 white z-depth-5">
            <form action="">
                <div class="row">
                    <div class="col s12 m12 l12 center">
                        <p><b>Ingrese Nickname:</b></p>
                        <input type="text" name="center" placeholder="Nickname" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 m12 s12">
                        <p><b>Seleccionar color de la boca:</b></p>
                        <input type="color" >
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m12 l12 center">
                        <button type="submit" class="btn blue-grey darken-4 m-open" m-open="canvas">Jugar</button>
                    </div>
                </div>
            </form>
            <h4>Universidad de Antioquia</h4>
            <h5>Comunicación II</h5>
            <h6>By: Jose Alberto Arango Sánchez</h6>
            <h6>2020-1</h6>            
            
            </div>
        
    </div>


    <div class="m-modal" m-modal="canvas" >
        <div class="m-body ">
            <div class="row">
                <div class="col s4 m4 l4" id="jugadores">

                </div>

                <div class="col s8 m8 l8" id="canvas">
                </div>

            </div>
        </div>


    </div>



    <script type="text/javascript">
    

        
        var video;
        var c;
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        let users = [];

        let foods = [];

        var n_balls = 10;

        var circles = []; // create an array to hold the DrawCircle objects
        var origin_circles = []
        var cicles_info = [];


        let Width_canvas = 1100;
        let Height_canvas = 900;

        let faceapi;
        let detections;
        let mouth;

        var mouths = [];


        var myUser = {};
        var name;

        let x = 0;
        let y = 0;
        var diam = 20;


        


        $(document).ready(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();

                var name = $('input[type="text"]').val();
                var color = $('input[type="color"]').val();
                myUser = {
                    name: name,
                    color: color,
                    id: socket.id,
                    x_label: 0,
                    y_label: 0,
                    coins: 0,
                    points_mouth: [],
                    detects: []
                }
                $('.m-open').modalF({ color: "#333" });
                $('button').trigger('click');
                c.show();
                video.show();


                socket.emit('addUser', myUser);
            });

            socket.on('users', function (data) {
                users = data;
            });

        })


        socket.on('circles', function (data) {
            cicles_info = data;
            //console.log(cicles_info)
        });


        const detection_options = {
            withLandmarks: true,
            withDescriptors: false,
        }



        function DrawCircle(x, y, d, c, s) {
            // declare the properties
            this.xPos = x;
            this.yPos = y;
            this.diameter = d;
            this.color = c;
            this.speed = s;
        }

        DrawCircle.prototype = {
            constructor: DrawCircle,
            // *** Method: display the circle on the canvas *** 
            display: function () {
                fill(this.color);
                ellipse(this.xPos, this.yPos, this.diameter, this.diameter);

                // uncomment the lines below and start building your own shape here!
                // rect(this.xPos,this.yPos, this.diameter/2, this.diameter);
                // stroke(0);
                // strokeWeight(this.diameter/6);
                // point(this.xPos, this.yPos);
            },

            // *** Method: move the circle downwards ***
            move: function () {

                this.yPos += this.speed;

                // the circle is outside the canvas, retset its position at the top
                if (this.yPos - this.diameter / 2 > height) {
                    this.yPos = -this.diameter / 2;
                }
            }
        }

        function setup() {


            //c = createCanvas(windowWidth / 2, windowHeight);
            c  = createCanvas(Width_canvas,Height_canvas)

            //formulario_ingreso.style("display","none")

            //c = createCanvas(400, 400);

            c.parent('canvas');

            if(cicles_info.length >0){
                $.each(cicles_info, function (index, c) {                
                var x = c.x;
                var y = c.y
                var d = c.d
                var cc = color(c.cc[0], c.cc[1],c.cc[2]);
                var s = c.s;
                circles.push(new DrawCircle(x, y, d, cc, s));
                origin_circles.push(new DrawCircle(x, y, d, cc, s));
            });
            }


            video = createCapture(VIDEO);
            //video.parent('canvas');
            //video.size(windowWidth / 2, windowHeight)
            video.size(Width_canvas, Height_canvas)
            

            c.hide();
            video.hide();
            faceapi = ml5.faceApi(video, detection_options, onModelReady)
        }


        function onModelReady() {
            console.log('ready!')
            console.log(faceapi)

            faceapi.detect(drawface)



        }


        function drawface(err, result) {

            if (err) {
                console.log(err)
                return
            }
            detections = result;
            faceapi.detect(drawface)
        }



        function draw() {

            //background(220);
            

            if (video) {
                translate(video.width, 0);
                scale(-1, 1);
                video.loadPixels();
                image(video, 0, 0, Width_canvas, Height_canvas);
            }

            // iterate over the circles array and call the methods of the DrawCircle object
            if(circles.length > 0){
           
                for (var i = 0; i < circles.length; i++) {
                    circles[i].move();
                    circles[i].display();
                }

                // keep the number of circles on the canvas under 60
                if (circles.length > 60) {
                    circles.shift();
                }
            }

            if (detections) {
                if (detections.length > 0) {
                    //console.log(detections)
                    //drawBox(detections)

                    myUser.detects = detections;
                    myUser.points_mouth = detections[0].parts.mouth;
                    socket.emit('updateNosePosition', myUser);

                    isMouthInside();
                }

            }

            $.each(users, function (index, u) {
                drawLandmarks(u.detects,u.color);
            });

            







        }



        function isMouthInside() {
            //console.log(myUser.x,myUser.y,x,y)

            puntos_interes = [
                myUser.points_mouth[8],
                myUser.points_mouth[9],
                myUser.points_mouth[10],
                myUser.points_mouth[11]
            ]

            for (let i = 0; i < puntos_interes.length; i++) {

                const x = puntos_interes[i]._x
                const y = puntos_interes[i]._y


                for (var j = 0; j < circles.length; j++) {
                    const xpos = circles[j].xPos;
                    const ypos = circles[j].yPos;
                    const diametro = circles[j].diameter;

                    let d = dist(x, y, xpos, ypos)
                    if (d < diametro) {
                        circles[j]["xPos"] = origin_circles[j].xPos
                        circles[j]["yPos"] = origin_circles[j].yPos
                        // = color(2555, 200, 255);
                        myUser.coins = myUser.coins + 5;



                        //return true;
                    } else {

                        //return false;
                    }
                }

            }
        }

        function drawLandmarks(detections,c) {
            noFill();
            stroke(161, 95, 251)
            strokeWeight(2)

            for (let i = 0; i < detections.length; i++) {

                mouth = detections[i].parts.mouth;
                /*
                const nose = detections[i].parts.nose;
                const leftEye = detections[i].parts.leftEye;
                const rightEye = detections[i].parts.rightEye;
                const rightEyeBrow = detections[i].parts.rightEyeBrow;
                const leftEyeBrow = detections[i].parts.leftEyeBrow;
                */
                drawPart(mouth, true,c);



                //drawPart(nose, false);
                //drawPart(leftEye, true);
                //drawPart(leftEyeBrow, false);
                //drawPart(rightEye, true);
                //drawPart(rightEyeBrow, false);

            }


        }

        function drawPart(feature, closed,c) {

            beginShape();


            for (let i = 0; i < feature.length; i++) {
                const x = feature[i]._x
                const y = feature[i]._y

                


                if (c != undefined) {
                    stroke(c);
                }


                //stroke(255, 95, 251);

                //stroke(co)

                vertex(x, y)

            }


            if (closed === true) {
                endShape(CLOSE);
            } else {
                endShape();
            }

        }

        function drawBox(detections) {
            for (let i = 0; i < detections.length; i++) {
                const alignedRect = detections[i].alignedRect;
                const x = alignedRect._box._x
                const y = alignedRect._box._y
                const boxWidth = alignedRect._box._width
                const boxHeight = alignedRect._box._height

                noFill();
                stroke(161, 95, 251);
                strokeWeight(2);
                rect(x, y, boxWidth, boxHeight);
            }

        }



        function windowResized() {

            //resizeCanvas(windowWidth / 2, windowHeight / 2);
            resizeCanvas(Width_canvas,Height_canvas);
        }

        var sketch_players = function (p) {

            p.setup = function () {
                var players_canva = p.createCanvas(500, 1000);
                players_canva.parent('#jugadores');
                
            };

            p.draw = function () {
                p.clear()              

                

                if(users.length > 0){
                    p.background("#039be5")
                    p.textSize(45)
                    p.fill("#fff");
                    p.text("Jugadores", 80, 50)
                }

                $.each(users, function (index, u) {

                    p.textSize(24);
                    p.fill(u.color);
                    p.text(u.name + ': ' + u.coins, u.x_label, u.y_label);

                });


            };

            p.windowResized = function () {
                p.resizeCanvas(windowWidth, windowHeight);
            };
        };

        var sk_players = new p5(sketch_players);

    </script>



</body>

</html>