<!DOCTYPE html><html>
  
<head>
    <script src="/static/p5.js"></script>
    <script src="/static/p5.sound.min.js"></script>
    <script src="/static/ml5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">

  </head>
  <body>
   


   <script src="../static/sketch.js"></script>
    <script src="../static/shape.js"></script>
    <script src="../static/barrier.js"></script>
    <script src="../static/bird.js"></script>    
    <script src="../static/armflap.js"></script>
    <script src="../static/background.js"></script>

  

</body></html>